/** ADD YOUR AWESOME CODES HERE **/


#contact-whatsapp {
    background: #4dc247;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 999;
    border-radius: 50% !important;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 4px 1px rgba(17, 17, 17, 0.25);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cantidad {
    border: 1px solid #b0b435 !important;
    font-weight: bold;
}

.cantidadT {
    background: #b0b435 !important;
    color: #fff;
}

input:focus,
select:focus,
select,
input.form-control:focus {

    outline: none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

}